@font-face {
  font-family: 'sophia-pro-regular';
  src: url("sophia-font/SofiaProRegularAz.otf") format("opentype");
}

*, html,
body {
  padding: 0;
  margin: 0;
  font-family: 'sophia-pro-regular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
