.container {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

.main {
  flex: 1;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.main_message_container {
 
  margin: auto;
  text-align: center;
 
}

.main_title {

}

.main_subtitle {

}

 
  